* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
}

body {
    background: black;
    color: white;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/BG1.jpg);
    background-size: cover;
    background-position: center;
}

.logo {
    width: 475px;
    height: auto;
}

.container {
    padding: 5px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    font-size: 30px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: pink;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 160px;
    font-size: 30px;
}

.header-text span {
    color: pink;
}

/*------------------about------------------------*/

.image {
    width: 475px;
    height: auto;
    border-radius: 200px;
    padding: 30px;
    
}

#about {
    padding: 80px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: pink;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: pink;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: width 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: pink;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*------------------services-----------------------*/

#Projects {
    padding: 30px 0;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color: black;
}

.projects-list div {
    background: rgb(177, 96, 109);
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 0 0 20px white;
}

.projects-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.projects-list div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}

.projects-list div:hover {
    background:pink;
    transform: translateY(-10px);
}

/* -------------------------CONTACT---------------------------- */

.contact-left{
    flex-basis:35%;

}

.contact-right{

    flex-basis:60%;

}

.contact-left p{
    margin-top:30px;

}

.contact-left p i{

    color:pink;
    margin-right:15px;

    font-size: 25px;



}

.social-icons{
    margin-top: 30px;



}

.social-icons a{
    text-decoration:none;
    font-size: 30px;
    margin-right:15px;
    color: white;
    display:inline-block;
    transition: tansform 0.5s;
}

.social-icons a:hover{
    color:pink; 
    transform: translateY(-5px);


}

.btn.btn2{

    display: inlne-block;
    background:rgb(177, 96, 109);
       width:400px; 
            height: 50px; 
            font-size: 16px; 
            border: none;
            text-align: center;
            text-decoration: none;
            margin: 4px 2px;
           border-radius:12px;
           cursor:pointer;

    
}

/* On hover, change background color of buttons with class .btn2 */
/* On hover, change background color of buttons with class .btn2 */
.btn.btn2:hover {
    background: pink;
}

/* Adjust width of form elements within .contact-right form */
.contact-right form {
    width: 100%; /* Change width as needed */
}

/* Styling for input fields and textareas */
form input,
form textarea {
    width: 100%; /* Change width as needed */
    padding: 15px; /* Adjust padding as needed */
    margin: 15px 0; /* Adjust margin as needed */
    color: black;
    font-size: 20px; /* Increase font size as needed */
    border: 0;
    outline: none;
    background: rgb(177, 96, 109);
    border-radius: 12px; /* Adjust border radius as needed */
}

/* On hover, change background color of input fields and textareas */
form input:hover,
form textarea:hover {
    background: pink;
}

